body, html {
    background-color: #ffcc00;
    color: black;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 1.5em;
    text-align: center;
}

.slft-btn-yellow {
    color: black;
    background-color: white;
}

.slft-btn-yellow:hover {
    color: white;
    background-color: black;
}

.slft-center {
    text-align: center;
    margin-top: 10px;
}