body, html {
    background-color: #ffcc00;
    color: black;
}

.slft-btn-yellow {
    color: black;
    background-color: white;
}

.slft-btn-yellow:hover {
    color: white;
    background-color: black;
}